* {
  display: block;
  font-size: 20pt;
  margin: 10px;
  color: #00634d;
  text-transform: uppercase;
}
button {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #00634d;
  background-color: #b7ffd7;
}